<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-800 text-white flex ">
      <div class="p-10 text-2xl">
        <h2 class="text-2xl mb-5">Update  user</h2>
        <form action="/update/<%=user._id%>" method="post">
        <input class="bg-transparent rounded border-2  px-3 p-2" type="text" required placeholder="Enter your name" name="name" value="<%=user.name%>">
        <input class="bg-transparent rounded border-2  px-3 p-2" type="email" required placeholder="Enter your Email" name="email" value="<%=user.email%>">
        
        <input class="bg-transparent rounded border-2   px-3 p-2"  type="text"  placeholder="image url" name="image" value="<%=user.image%>"/>
        <input class="p-2   bg-yellow-600 rounded px-4 cursor-pointer " type="submit" value="Update user">
     
    </form>



      </div>
    </div>
</body>
</html>