<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="p-10 bg-zinc-800 w-full h-screen">
        <h1 class="text-3xl text-red-800 font-bold ">Email or password in incorrect</h1>
    <h2 class="mt-5 text-2xl mb-5 text-white">If you have no account create first </h2>
    <a class="p-2 px-4 py-2 bg-green-500 text-xl rounded text- " href="/">SignUp</a>
</div>
    
</body>
</html>